@model MVC_HW.Models.SearchArgs
@{ ViewBag.Title = "訂單查詢頁面"; }

@using (Html.BeginForm("SearchResult", "SalesOrders", FormMethod.Post,new { id="form"}))
{

    <table style="margin-top:10px;">
        <tr>
            <td>@Html.LabelFor(m => m.OrderID)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.OrderID, new { type = "number", @class = "form-control input-number k-textbox", style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.CompanyName)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control k-textbox", style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmployeeID)</td>
            <td>
                @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EL, "EmployeeID", "FullName"), "請選擇", new { @class = "form-control kendodropdown", style = "width:200px" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ShipperID)</td>
            <td>
                @Html.DropDownListFor(model => model.ShipperID, new SelectList(ViewBag.SL, "ShipperID", "CompanyName"), "請選擇", new { @class = "form-control kendodropdown", style = "width:200px" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.OrderDate)</td>
            <td>@Html.TextBoxFor(m => m.OrderDate, new { type = "date", @class = "form-control datetimepick", style = "width:200px" })</td>
            <td>@Html.LabelFor(m => m.ShipedDate)</td>
            <td>@Html.TextBoxFor(m => m.ShipedDate, new { type = "date", @class = "form-control datetimepick", style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.RequiredDate)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.RequiredDate, new { type = "date", @class = "form-control datetimepick", style = "width:200px" })</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <input id="searchsubmit" value="查詢" class="btn btn-primary" />
                <input type="reset" value="清除" class="btn btn-warning" />
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Create", "CalesOrders")';">新增訂單</button>
            </td>
        </tr>
    </table>
    <div id="searchresult"></div>
}
<script>
    $(document).ready(function () {
        $('.kendodropdown').kendoDropDownList();
        $('.datetimepick').kendoDatePicker({ format: "yyyy/MM/dd" });
        var grid = $("#searchresult").kendoGrid({
            height: 550,
            pageable: {
                pageSizes: true
            },
            editable: true,
            sortable: true,
            reorderable: true,
            resizable: true,
            pageable: true,
            columns: [{

                field: "OrderID",
                title: "訂單編號",
                width: 240
            },
            {
                field: "CusCompanyName",
                title: "客戶名稱",

            },
            {
                field: "OrderDate",
                title: "訂購日期",
                template: "#= kendo.toString(kendo.parseDate(OrderDate, 'yyyy-MM-dd'), 'yyyy/MM/dd') #"
            },
            {
                field: "RequireDate",
                title: "需要日期",
                template: "#= kendo.toString(kendo.parseDate(RequireDate, 'yyyy-MM-dd'), 'yyyy/MM/dd') #"
                }, {
                    command: { text: "編輯", click: showDetails },
                    title: " ",
                    width: "180px"
                },
                {
                    command: { text: "刪除", click: Delete },
                    title: " ",
                    width: "180px"

                }
            ]
            




        })
        console.log(grid);
        $('#searchsubmit').click(function () {
            var submit = $('#form').serializeArray();
            
            $.ajax({
                url: '@Url.Action("SearchResult","SalesOrders")',
                type: 'Post',
                data:submit,
                success: function (response) {
                    $("#searchresult").data("kendoGrid").dataSource.data(response);
                   


                }
            
            
            })
        
        
        })


    function Delete(e) {
        if (confirm('你確定要刪除嗎 ?')) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            console.log(dataItem.OrderID);
            $.ajax({
                type: "POST",
                url: "DeleteTrue/" + dataItem.OrderID,
                data:{"id":dataItem.OrderID},
                success: function (respone) {
                    var dataSource = $("#tabletest").data("kendoGrid").dataSource;
                    dataSource.remove(dataItem);
                    dataSource.sync();
                  //  window.location.href = "./Index";
                }
            }
        )
        }
    }

      function showDetails(e) {
        e.preventDefault();
       
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //console.log(dataItem.OrderID);

        window.location.href = '@Url.Action("Edit", "SalesOrders")/' + dataItem.OrderID;
    }}) 

    
    </script>